
.algoritm{
    display: flex;
    flex-direction: column;
    padding: 70px 0; 
    @include xsl {
      padding: 40px 0;
    }
    h3{
      text-align: center;
    }
    &_cont{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 50px auto 0;
      width: 100%;
      max-width: 760px;
      @include xsl {
        margin: 30px auto 0;
      }
    }
    &_items{
      display: flex;
      flex-direction: row;
      width: calc(50% - 30px);
      margin: 20px 15px;
      border: 2px solid $color-green;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 15px 20px;
      align-items: flex-start;
      @include sm {
        width: 100%;
        margin: 20px 0px;
      } 
      @include xsl {
        padding: 15px 15px;
        border-radius: 10px;
        margin: 10px 0;
      }
      img{
        margin-right: 20px;
        margin-top: 7px;
      }
    }
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px; 
      color: $color-black;
      margin: 0 auto;
      & *{
        font-size: inherit;
        line-height: inherit; 
        text-decoration: none;
      }
    }
    &_row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  