.block-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%; 
  box-sizing: border-box; 
  padding: 20px 0 30px;
  &_cont{
    position: relative;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // flex-wrap: wrap; 
    @include sm {
      flex-wrap: wrap;
    }
  }  
}
.block-blue{
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  padding: 25px 30px;
  margin: 20px 10px;
  background: $background-blue2;
  border-radius: 10px;
  @include sm {
    margin: 20px 10px 0;
    max-width: 265px;
  }
  @include xsl {
    margin: 20px 0px 0;
    max-width: 100%;
  }
  p{
    margin: 0;
    font-family: $font-future;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 166.8%;
    color: $color-white;
  }
}