.block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%; 
  box-sizing: border-box; 
  margin: 15px 0 0;
  img{
    max-width: 100%;
  }
  &_cont{
    position: relative;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0 88px;
    @include lg {
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 80px 0 175px;
    }
  }
  &_left{
    width: 100%;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    @include md {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      justify-content: space-between;
    }
    @include sm {
      justify-content: space-around;
    }
    h3{
      @include md {
        max-width: 324px;
        width: 100%;
        margin-top: 0!important;
      }
      @include sm {
        max-width: 480px;
      }
    }
    .block-2_white-b{
      @include md {
        max-width: 324px;
        width: 100%;
        margin: 0 0 50px;
        p{
          font-size: 16px;
          line-height: 21px;
        }
      }
      @include sm {
        max-width: 480px;
      }
    }
  }
  h3{
    font-weight: bold;
    margin: 40px 0 47px;
    @include md {
      font-size: 22px;
      line-height: 28px;
    }
  }
  &_white-b{
    background: $background-white;
    border-radius: 10px;
    padding: 32px 16px 20px 30px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 45px 30px 0;
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      margin: 0;
      color: $color-blue2;
    }
  }
  &_general-items{
    h4{
      font-family: $font-future;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;  
      line-height: 33px; 
      color: $color-blue4;
      margin: 0 0 5px;
    }
    h3{
      margin: 0 0 5px;
      font-size: 38px;
      line-height: 49px;
      @include md {
        font-size: 22px;
        line-height: 28px;
        max-width: 155px;
      }
      span{
        font-size: 26px;
        line-height: 33px;
        font-weight: 500;
        @include md {
          font-size: 20px;
          line-height: 22px;
        }
      }
    }
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px; 
      color: $color-blue2;
      margin: 15px 0 0;
    }
  }
  &_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 395px;
    @include md {
      justify-content: flex-start;
    }
    @include sm {
      max-width: 480px;
    }
    img{
      width: 113px;
      height: auto;
      object-fit: contain;
      margin: 0 28px 0 0;
    }
  }
  &_column{
    display: flex;
    flex-direction: column;
  }
  &_right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include lg {
      justify-content: space-around;
      flex-grow: 1;
    }
    @include sm {
      flex-wrap: wrap;

    }
  }
  &_list-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 285px;
    box-sizing: border-box;
    margin: 40px 17px 0 0;
    @include sm {
      max-width: 480px;
    }
  }
  &_items-2{
    display: flex;
    flex-direction: column; 
    &_top{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    &:last-child{
      margin: 65px 0 0;
    }
  }
  &_items-4{
    .block-2_items_top{
      @include xs {
        flex-wrap: wrap;
      }
    }

  }
  &_items{
    &_top{
      display: flex;
      flex-direction: row;
      h4{
        width: max-content;
        max-width: 148px;
      }
    }
    &_end{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
      h3{
        max-width: 185px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }
  }
  &_list-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 355px;
    margin: 40px 0 0;
    @include sm {
      max-width: 480px;
    }
  }
  &_items-6{
    padding-top: 70px;
    position: relative;
    img{
      position: absolute;
      right: 35px;
      top: 20px;
    }
    .block-2_items_end{
      justify-content: flex-start;
    }
  }
  .general_img{
    object-fit: inherit;
    @include md {
      object-fit: cover;
    }
  }

}