.block-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%; 
  box-sizing: border-box; 
  padding: 132px 0 40px;
  &_cont{
    position: relative;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
    margin-top: 35px;
    @include xsl {
      margin-top: 0px;
    }
  } 
  &_img{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 40px;
    max-width: 100%;
    max-height: 100%;
    @include md {
      display: none;
    }
  }
  &_left{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 582px;
    padding: 50px 0 52px;
    @include md {
      margin: 0 auto;
      max-width: 550px;
    }
    @include xsl {
      padding: 40px 0 45px;
    }
    h3{
      font-weight: 400;
      margin: 0 0 30px;
      text-align: left;
      color: $color-white;
      strong{
        font-weight: 700;
        @include xsl {
          font-weight: 500;
        }
      }
      @include xsl {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        margin: 0 0 10px;
      }
    }
    p{
      font-family: $font-future;
      font-weight: 400;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px;
      text-align: left;
      color: $color-white;
      margin: 0 0 10px; 
      @include xsl {
        font-size: 18px;
        line-height: 23px;
      } 
    }
  }
  
  .general_img{
    object-fit: inherit; 
    z-index: -2;
    @include l {
      object-fit: cover; 
    }
  } 
  &_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    &_items{
      display: flex;
      flex-direction: row; 
      align-items: center;
      width: 50%;
      margin-top: 30px;
      @include xsl {
        flex-direction: column;
        align-items: center;
      }
      p{
        font-family: $font-future;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center; 
        color: $color-white;
        margin: 0;
        @include xsl {
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
    &_btn{
      display: flex;
      margin-top: 35px;
      @include xsl {
        justify-content: center;
      }
      .btn-read{
        @include xs {
          width: 256px;
          justify-content: center;
        }
      }
    }
    &_img{
      width: 85px; 
      margin-right: 20px;
      @include xsl {
        margin-right: 0px;
      }
      img{
        width: 85px;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        @include sm {
          width: 91px;
          height: 91px;
        }
      }
    }
  }
}
.info{
  position: relative;
  width: 100%;
  max-width: 550px;
  background: #FFFFFF;
  border: 2px solid rgba(30, 71, 113, 0.64);
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgba(92, 174, 255, 0.17);
  border-radius: 10px;
  margin: 0 auto;
  padding: 32px 40px 29px; 
  color: $color-blue5;
  font-family: $font-future;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 166.8%; 
  text-align: center;
  @include xsl {
    padding: 30px 20px; 
  }
  &_img{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: -1;
  }
  h3{
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    strong{
      font-weight: 700;
      @include xsl {
        font-weight: 500;
      }
    }
    @include xsl {
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;
      margin: 0 0 15px;
    }
  }
  p{
    font-family: $font-future;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 166.8%; 
    text-align: center;
    margin: 0;
    color: $color-blue5;
    @include xsl {
      font-weight: normal;
      font-size: 18px;
      line-height: 166.8%;
    } 
  }
}