.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh; 
  box-sizing: border-box; 
  &:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
  }
  // &:before{
  //   content: ' ';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 3;
  //   background: linear-gradient(0deg, rgba(0, 61, 152, 0.48), rgba(0, 61, 152, 0.48));
  // } 
  &_cont {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & *{
      position: relative;
      z-index: 9;
    }
    h1{
      color: #FFFFFF;
      font-family: $font-muli;
      font-weight: 800;
      font-size: 65px;
      line-height: 112.2%;
      max-width: 748px;
      width: 100%;
      text-align: center;
      margin: 0 auto 15px;
      text-transform: uppercase;
      .blue{
        color: $color-blue4;
      }
      .black{
        color: $color-black;
      }
      @include md {
        font-weight: 800;
        font-size: 22px;
        line-height: 28px;
        max-width: 485px;
        margin: 0 auto 30px;
      }
    }
    h3{
      color: white;
      max-width: 575px;
      text-align: center;
    }
    .general_paragraph{
      color: #FFFFFF;
      max-width: 475px;
      margin: 0 auto 55px;
      text-align: center;
      @include md {
        max-width: 264px;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
      }
    }
  } 
  &_btn{
    display: flex;
    margin: 55px auto 0;
    flex-direction: row;
    justify-content: center;
    .general-button{
      margin-right: 35px;
      &:last-child{
        margin-right: 0;
        .general-button_img{
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }
}

.img-diver{
  position: absolute;
  bottom: 0;
  left: 200px;
  transform: translate(-35%, 50%);
  z-index: 6!important; 
  max-width: 100%;
  @include md {
    max-width: 500px;
    left: 185px;
  }
  @include sm {
    left: 75px;
  }
  @include xsl {
    left: 0;
  }
  @include xs {
    max-width: 100%;
    bottom: 10px;
  }
}
.img-bottom{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center 0px;
  z-index: 4;
}
.bg-video{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
} 
.only-for-optimization{
  position: absolute;
  z-index: 1;
  transform: scale(0);
}


.product{
  position: relative;
  display: flex;
}
.faq_cont{
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  width: 100%!important;
  margin: 50px 0 40px;
}
.faq_item{
  background: #FFFFFF;
  box-shadow: 0px 9px 12px rgba(118, 169, 213, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  width: 100%;
  &:last-child{
    margin: 0 0 0;
  }
  &_content{
    padding: 25px 30px;
    box-sizing: border-box;
    width: 100%!important;
    border-top: 1px solid rgba(6, 74, 130, 0.2);
    display: none;
    @include xsl{
        padding: 25px 20px;
    }
    .post_content{
      p{
        font-size: 17px; 
        line-height: 24px;
      }
    }
  }

  &_img{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: auto;
    object-fit: contain;
    transition: 0.3s all;
    @include xsl{
      right: 20px;
    }
  }
  &_title{
    padding: 25px 60px 30px 25px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    // font-family: $font-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    letter-spacing: 0.01em; 
    color: $color-blue6;
    margin: 0;
    cursor: pointer;
    @include xsl{
      padding: 25px 50px 30px 20px;
    }
    &.active-header{
      .faq_item_img{
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }
  
}

.about{
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px;
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0 0;
  }
  &_content{
    box-sizing: border-box;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }
  &_info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      margin-right: 20px;
      margin-top: 7px;
    }
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px; 
      color: $color-black;
      margin: 0 auto;
      & *{
        font-size: inherit;
        line-height: inherit; 
        text-decoration: none;
      }
    }
  }
  &_img{
    display: flex;
    img{
      object-fit: cover;
      object-position: center;
    }
  }
}

.work{
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0 0;
  }
  &_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 215px;
    margin: 40px 15px 15px;
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px; 
      color: $color-blue4;
      margin: 0 auto;
      text-align: center;
      & *{
        font-size: inherit;
        line-height: inherit; 
        text-decoration: none;
      }
    }
  }
  &_icon{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border: 3px solid $color-blue4;
    border-radius: 50%;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    img{
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
}