<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

    {{ if eq .Page  (.Site.GetPage "contact") }}
    {{ partial "blocks/map.html" . }}
    {{ else }}
        <sections class="content">
            <div class="container">
                <div class="content_cont">
                    <div class="content_cont_top">
                        <div class="content_cont_top_info">
                            <h2>{{ .Params.page_title }}</h2> 
                        </div> 
                    </div>
                    <div class="content_cont_bottom">
                        {{ .Content  }}
                    </div>
                </div>
            </div>
        </sections>
    {{end}}

  {{ partial "footer.html" . }} 
  </body>
</html>

