 
$background-white: #ffffff;
$background-white2: #eaedf2;
$background-black: #000000;
$background-gray2: #F7F9FC;

$color-white: #ffffff;
$color-white2: #E2E2E2;
$color-black: #000000;
$color-gray:  #555A64;
$color-green: #0AE88D;
$color-gray2: #2C3038;
$color-black2: #373737; 
$color-blue3 :#368FE8;
$color-blue4 :#0A325A; 

$font-future: 'Nunito Sans', sans-serif; 

 


 
 

