 
.footer_bottom{
  position: relative;
  z-index: 9;
  background: $color-gray2;
  padding: 15px 0;
  margin: 0;
  p, a{
    padding: 0;
    margin: 0;
    font-family: $font-future;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px; 
    color: $color-white;
    @include sm { 
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 21px;
    } 
  }
  a{
    transition: 0.3s all;
    &:hover{
      cursor: pointer;
      text-decoration: none;
      color: $color-green;
    }
  }
}
.footer_bottom_cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include sm { 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  a{
    padding: 0;
    margin: 0 0 0px;
    font-family: $font-future;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px; 
    color: $color-white;
    text-decoration: none;
    transition: 0.3s all;
      &:hover{
        color: $color-green;
      }
      @include sm { 
        font-size: 16px;
        line-height: 21px;
        margin: 0 0 10px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
}
.footer_bottom_info{
     display: flex;
     flex-direction: row;
     align-items: center; 
     @include sm { 
      margin-bottom: 10px;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 21px;
      p, a{
        margin-bottom: 0;
      }
    }
}
