{{ define "main" }} 
  {{  partial "blocks/hero.html" . }}
  <section class="about" id="about">
    <div class="container"> 
          <h3>Про нас</h3>
          <div class="about_cont">
              <div class="about_content">
                  <div class="about_info">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Ми, команда практиків, яка на ринку таксі працює понад три роки. Спираючись на досвід створення і організацію власного автопарку, та його співпрацю з платформами Bolt та Uber, ми почали залучати кошти інвесторів. В управлінні компанії перебуває понад 20 автомобілів.</p>
                  </div>
                  <div class="about_info">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Ми самі розробили унікальну програму по інвестуванню та досконало налагодили процес від залучення інвестицій до отримання інвестором пасивного доходу.</p>
                  </div>
                  <div class="about_info">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Наша місія – забезпечити високий стабільний пасивний дохід кожного інвестора.</p>
                  </div>
                  <div class="about_info">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Наша мета на 2021 рік – збільшити кількість транспорту, що перебуває в управлінні компанії, до 100 автомобілів.
                    </p>
                  </div>
              </div>
              <div class="about_img">
                <img class="lazy" data-src="{{ "img/about.jpg" | absURL }}" data-srcset="{{ "img/about.jpg" | absURL }}" alt="about"/> 
              </div>
          </div> 
      </div>
  </section>
  <section class="work" >
    <div class="container">
      <div class="row">
          <h3>Наша робота</h3>
          <div class="work_cont"> 
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/sedan-car-front.svg" | absURL }}" data-srcset="{{ "img/svg/sedan-car-front.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Допомога в пошуку та придбанні авто.</p>
              </div> 
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/car.svg" | absURL }}" data-srcset="{{ "img/svg/car.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Підготовка авто до роботи.</p>
              </div>
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/driver.svg" | absURL }}" data-srcset="{{ "img/svg/driver.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Підбір водія.</p>
              </div>
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/piston.svg" | absURL }}" data-srcset="{{ "img/svg/piston.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Контроль технічного стану авто під час співпраці.</p>
              </div>
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/placeholder.svg" | absURL }}" data-srcset="{{ "img/svg/placeholder.svg" | absURL }}" alt="arrow"/> 
                 </div>
                <p>Контроль роботи водія та спостереження за маршрутами з допомогою GPS приладу.</p>
              </div>
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/document.svg" | absURL }}" data-srcset="{{ "img/svg/document.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Надання інвестору доступу до всіх операційних показників.</p>
              </div>
              <div class="work_items">
                <div class="work_icon"><img class="lazy" data-src="{{ "img/svg/save-money.svg" | absURL }}" data-srcset="{{ "img/svg/save-money.svg" | absURL }}" alt="arrow"/> 
                </div>
                <p>Нарахування та виплата пасивного доходу.</p>
              </div>
          </div>
        </div>
      </div>
  </section>
  <section class="variant about" id="variant">
    <div class="container"> 
          <h3>З якими автомобілями працюємо</h3>
          <div class="about_cont">
              <div class="about_content">
                  <div class="about_info">
                    <p>На сьогоднішній день працюємо з двома типами авто: Renault/Dacia Logan та Sandero, що відповідають чітким критеріям відбору та молодші 2013р.в.</p>
                  </div>
                  <div class="about_info">
                    <p>Стосовно співпраці з іншими марками авто можливе індивідуальне обговорення.</p>
                  </div> 
              </div>
              <div class="about_img">
                <img class="lazy" data-src="{{ "img/about.jpg" | absURL }}" data-srcset="{{ "img/about.jpg" | absURL }}" alt="about"/> 
              </div>
          </div> 
      </div>
  </section>

  <section class="aption" id="aption">
    <div class="container"> 
          <h3>Варіанти співпраці</h3>
          <div class="aption_cont">
              <div class="aption_items">
                <div class="aption_img">
                  <img class=" lazy" data-src="{{ "img/svg/sedan-car-front.svg" | absURL }}" data-srcset="{{ "img/svg/sedan-car-front.svg" | absURL }}" alt="about"/> 
                </div>
                <p>Передаєте нам автомобіль в управління для роботи «на лінії» (авто перебуває у вашій власності).</p>
                <a class="aption_btn" href="#contact">Звязатись</a>
              </div> 
              <div class="aption_items">
                <div class="aption_img">
                  <img class=" lazy" data-src="{{ "img/svg/money-bag.svg" | absURL }}" data-srcset="{{ "img/svg/money-bag.svg" | absURL }}" alt="about"/> 
                </div>
                <p>Передаєте нам кошти під 18% річних в валюті або 24% річних в гривні.</p>
                <a class="aption_btn" href="#contact">Звязатись</a>
              </div> 

          </div> 
      </div>
  </section>

  <section class="algoritm" id="algoritm">
    <div class="container"> 
          <h3>Алгоритм співпраці</h3>
            <div class="algoritm_cont">
              <div class="row"> 
                <div class="algoritm_row">
                  <div class="algoritm_items">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Зв’язатися з нами зручним для вас способом.</p>
                  </div>
                  <div class="algoritm_items">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Обговорюємо деталі інвестиції, підбираємо варіант співпраці та укладаємо угоду.</p>
                  </div>
                  <div class="algoritm_items">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Підготовка авто до виходу «на лінію».</p>
                  </div>
                  <div class="algoritm_items">
                    <img class="lazy" data-src="{{ "img/svg/arrow.svg" | absURL }}" data-srcset="{{ "img/svg/arrow.svg" | absURL }}" alt="arrow"/> 
                    <p>Щотижневе отримання пасивного доходу, звітність та контроль.</p>
                  </div>
               </div>
            </div> 
          </div>
      </div>
  </section>

  <section class="why-we" id="why-we">
    <div class="container"> 
          <h3>Чому варто співпрацювати з нами</h3>
          <div class="why-we_cont">
              <div class="why-we_items">
                  <p class="why-we_number">1</p>
                  <p class="why-we_text">Маємо досвід управління власним автопарком.</p>
              </div>
              <div class="why-we_items">
                  <p class="why-we_number">2</p>
                  <p class="why-we_text">Автомобіль залишається вашою власністю протягом всього часу співпраці.</p>
              </div>
              <div class="why-we_items">
                  <p class="why-we_number">3</p>
                  <p class="why-we_text">Допомагаємо з купівлею та продажем автомобіля.</p>
              </div>
              <div class="why-we_items">
                  <p class="why-we_number">4</p>
                  <p class="why-we_text">Беремо на себе контроль за всіма процесами та надаємо вам повну звітність.</p>
              </div>
              <div class="why-we_items">
                  <p class="why-we_number">5</p>
                  <p class="why-we_text">Здійснюємо щотижневу виплату пасивного доходу.</p>
              </div> 
          </div> 
      </div>
  </section>


  <section class="product" id="faq">
    <div class="container">
      <div class="row">
        <div class="faq_cont">
            {{ range .Params.faq }}
                <div class="faq_item">
                    <h4 class="faq_item_title">{{ .title }}
                      <img class="faq_item_img lazy" data-src="{{ "img/arrow.svg" | absURL }}" data-srcset="{{ "img/arrow.svg" | absURL }}" alt="arrow"/></h4> 
                    <div class="faq_item_content post_content"> 
                        {{ .answer | markdownify }}
                    </div> 
                </div> 
            {{ end }} 
        </div>
      </div>
    </div>
    <img class="general_img lazy" data-src="{{ "img/features.jpg" | absURL }}" data-srcset="{{ "img/features.jpg" | absURL }}" alt="bg"/>
  </section>
  <section class="contact" id="contact">
    <div class="container"> 
        <h3>Контакт</h3> 
    </div>
  </section>
{{ end }}
