
  <section class="algoritm" id="algoritm">
    <div class="container"> 
        {{ with .Params.algoritm_title }}<h3>{{ . }}</h3>{{ end }}
        {{ with .Params.algoritm_list }}
            <div class="algoritm_cont">
              <div class="row"> 
                <div class="algoritm_row">
                    {{ range . }}
                        <div class="algoritm_items">
                            <img class="lazy" data-src="{{ "img/arrow-left.svg" | absURL }}" data-srcset="{{ "img/arrow-left.svg" | absURL }}" alt="arrow"/> 
                            <p>{{ .text }}</p>
                        </div>
                    {{ end }} 
               </div>
            </div> 
          </div>
        {{ end }}
      </div>
  </section>
 