<section class="block-8">
    <div class="container">
        <div class="row">
            <div class="block-8_cont">
                {{- range .Params.items -}}
                    <div class="block-blue"> 
                        <p>{{ .text }}</p> 
                    </div> 
                {{- end -}}
            </div>
        </div>
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>