<section class="block-9">
    {{- with .Params.white_content -}}
        <div class="container"> 
            <div class="info">
                <img class="info_img lazy" data-src="{{ "img/svg/info.svg" | absURL }}" data-srcset="{{ "img/svg/info.svg" | absURL }}" alt="bg"/>
                {{ . | markdownify }}
            </div>
        </div>
    {{- end -}} 
    <div class="container">
        {{- with .Params.title -}}
            {{ . | markdownify }}
        {{- end -}} 
        {{- with .Params.product -}}
        <div class="row">
            <div class="block-9_cont">
                {{- range . -}}
                    <div class="product">
                        <h4 class="only-for-optimization"></h4>
                        {{- with .title -}}<h5>{{ . }}</h5>{{- end -}}
                        {{- with .day -}}<p>{{ . }}</p>{{- end -}}
                        {{- with .img -}}<img class="lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
                        {{- with .button -}}
                            <a class="product_btn" {{- with .link -}} href="{{ . }}"{{- end -}} >
                                {{- with .text -}}{{ . }}{{- end -}}
                                {{- with .eggs -}}<br/><strong>{{ . }}</strong>{{- end -}}
                            </a>
                        {{- end -}}
                    </div>
                {{- end -}}
            </div>
        </div>
        {{- end -}} 
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>