<section class="block-11">
    <div class="container">
        {{- with .Params.content -}} 
            {{ . | markdownify }} 
        {{- end -}} 
        {{- with .Params.partners -}}
        <div class="row"> 
            <div class="block-11_cont">
                {{- range . -}}
                    <div class="block-11_items"> 
                        {{- with .img -}}
                            <div class="block-11_items_img">
                                <img class="lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg">
                            </div> 
                        {{- end -}} 
                        {{- with .text -}}
                            <p>{{ . }}</p>
                        {{- end -}} 
                    </div>
                {{- end -}} 
            </div>
        </div>
        {{- end -}} 
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>