<section class="block-6">
    {{- with .Params.white_content -}}
    <div class="container"> 
        <div class="info">
            <img class="info_img lazy" data-src="{{ "img/svg/info.svg" | absURL }}" data-srcset="{{ "img/svg/info.svg" | absURL }}" alt="bg"/>
            {{ . | markdownify }}
        </div>
    </div>
    {{- end -}} 
    <div class="block-6_cont">
        <div class="container">  
            <div class="block-6_left">
                {{- with .Params.info -}}
                    {{ . | markdownify }}
                {{- end -}} 
                <div class="block-6_list">
                    {{- range .Params.list -}}
                        <div class="block-6_list_items">
                            {{- with .img -}} 
                                <div class="block-6_list_img">
                                    <img class="lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>
                                </div>
                            {{- end -}}
                            {{- with .text -}} 
                                <p>{{ . }}</p>
                            {{- end -}}
                        </div>
                    {{- end -}}  
                </div>
                {{- with .Params.button -}}
                    <div class="block-6_list_btn">
                        <a class="btn-read" {{- with .link -}}href="{{ . }}"{{- end -}} >
                            <span>{{ .text }}</span>
                            <div class="btn-read_img" 
                                style="-webkit-mask-image: url('../img/svg/arrow.svg');
                                        mask-image: url('../img/svg/arrow.svg');">
                            </div>
                        </a>
                    </div>
                {{- end -}} 
            </div> 
        </div> 
    </div> 
    {{- with .Params.right_img -}}<img class="block-6_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>