<section class="block-2">
    <div class="container">
         <div class="block-2_cont">
            <div class="block-2_left">
                {{- with .Params.title -}}<h3>{{ . }}</h3>{{- end -}} 
                {{- with .Params.paragraph -}}
                    <div class="block-2_white-b">
                        <p class="general_paragraph">{{ . }}</p>
                    </div>
                {{- end -}} 
                {{- with .Params.items_1 -}}
                <div class="block-2_items block-2_general-items"> 
                    {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}" alt="block-2_img">{{- end -}} 
                    <div class="block-2_column"> 
                        {{- with .title -}}<h4>{{ . }}</h4>{{- end -}} 
                        {{- if .number -}}
                            <h3>{{ .number }}/
                                {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                            </h3>
                        {{- end -}}
                        {{- with .text -}}<p>{{ . }}</p>{{- end -}}
                    </div>
                </div>
                {{- end -}} 
            </div>
            <div class="block-2_right">
                <div class="block-2_list-1">
                    {{- with .Params.items_2 -}}
                        <div class="block-2_items-2 block-2_general-items">
                            <div class="block-2_items-2_top">
                                {{- with .title -}}<h4>{{ . }}</h4>{{- end -}} 
                                {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}" alt="block-2_img">{{- end -}} 
                            </div>
                            <div class="block-2_column">  
                                {{- if .number -}}
                                    <h3>{{ .number }}/
                                        {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                                    </h3>
                                {{- end -}} 
                                {{- with .text -}}<p>{{ . }}</p>{{- end -}}
                            </div>
                        </div>
                    {{- end -}} 
                    {{- with .Params.items_3 -}}
                        <div class="block-2_items-2 block-2_general-items">
                            <div class="block-2_column"> 
                                {{- with .title -}}<h4>{{ . }}</h4>{{- end -}}  
                                {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}" alt="block-2_img">{{- end -}} 
                                {{- if .number -}}
                                    <h3>{{ .number }}/
                                        {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                                    </h3>
                                {{- end -}} 
                                {{- with .text -}}<p>{{ . }}</p>{{- end -}}
                            </div>
                        </div>  
                    {{- end -}} 
                </div>
                <div class="block-2_list-2">
                    {{- with .Params.items_4 -}}
                        <div class="block-2_items-4 block-2_general-items"> 
                            <div class="block-2_items_top">
                                {{- with .title -}}<h4>{{ . }}</h4>{{- end -}}  
                                {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}" alt="block-2_img">{{- end -}} 
                            </div>
                            <div class="block-2_items_end">
                                {{- if .number -}}
                                    <h3>{{ .number }}
                                        {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                                    </h3>
                                {{- end -}} 
                                {{- with .text -}}<p>{{ . }}</p>{{- end -}}
                            </div>
                        </div>  
                    {{- end -}} 
                    {{- with .Params.items_5 -}}
                        <div class="block-2_items-2 block-2_general-items"> 
                            <div class="block-2_column"> 
                                {{- with .title -}}<h4>{{ . }}</h4>{{- end -}}  
                                {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}" alt="block-2_img">{{- end -}} 
                                {{- if .number -}}
                                    <h3>{{ .number }}
                                        {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                                    </h3>
                                {{- end -}} 
                                {{- with .text -}}<p>{{ . }}</p>{{- end -}}
                            </div>
                        </div>  
                    {{- end -}} 
                    {{- with .Params.items_6 -}}
                        <div class="block-2_items-4 block-2_items-6 block-2_general-items"> 
                            <div class="block-2_items_top">
                                {{- with .title -}}<h4>{{ . }}</h4>{{- end -}}  
                                {{- with .img -}}<img class="lazy" data-src="{{ . }}" data-srcset="{{ . }}"  alt="block-2_img">{{- end -}} 
                            </div> 
                            <div class="block-2_items_end">
                                {{- if .number -}}
                                    <h3>{{ .number }}
                                        {{- with .year -}}<span>{{ . }}</span>{{- end -}} 
                                    </h3>
                                {{- end -}} 
                                {{- with .text -}}<p>{{ . }}</p>{{- end -}} 
                            </div>
                        </div>  
                    {{- end -}} 
                </div>
            </div> 
        </div>
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>