<section class="block-1">
    <div class="container">
        {{- with .Params.subtitle -}}<h3>{{ . }}</h3>{{- end -}} 
        {{- with .Params.title -}}<h2>{{ . }}</h2>{{- end -}}  
    </div>
    <div class="container-small"> 
        {{- if .Params.list -}}
            <div class="block-1_cont">
                {{- range .Params.list -}}
                    <h2 class="block-1_items">
                        {{- with .items -}} {{ . }} {{- end -}}  
                        {{- with .text -}} <span>{{ . }}</span> {{- end -}}  
                    </h2>  
                {{- end -}} 
            </div>  
        {{- end -}} 
    </div>
    <div class="container-small"> 
        <div class="block-1_bottom"> 
            {{- with .Params.bottom_subtitle -}}<h3>{{ . }}</h3>{{- end -}}
            {{- with .Params.bottom_title -}}<h2>
                    <img class="lazy" data-src="{{ "img/svg/arrow-b.svg" | absURL }}" data-srcset="{{ "img/svg/arrow-b.svg" | absURL }}" alt="arrow"/>
                    {{ . }}
                </h2>
            {{- end -}}  
            {{- if .Params.info -}}
                <div class="block-1_space">
                    {{- range .Params.info -}}
                        <div class="block-1_space_items">
                            {{- with  .text -}}<p class="general_paragraph">{{ . }}</p>{{- end -}} 
                            {{- with .title -}}<h3>{{ . }}</h3>{{- end -}} 
                        </div>
                    {{- end -}} 
                </div>
            {{- end -}} 
        </div>
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section> 