<section class="block-10">
    <div class="container"> 
        {{- with .Params.title -}}
            {{ . | markdownify }}
        {{- end -}} 
        <div class="block-10_cont">
            {{- range .Params.items -}}
                <div class="block-10_cont_items">
                     {{- with .text -}}
                        <div class="block-blue"> 
                            <p>{{ . }}</p>
                        </div> 
                    {{- end -}}
                    {{- with .people -}}
                        <div class="block-people">
                            {{- with .img -}}
                                <img class="block-people_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg">
                            {{- end -}}
                            <div class="block-people_content">
                                {{- with .name -}}
                                    <h4 class="only-for-optimization"></h4>
                                    <h5 class="only-for-optimization"></h5>
                                    <h6>{{ . }}</h6>
                                {{- end -}} 
                                {{- with .text -}}
                                    <p>{{ . }}</p>
                                {{- end -}}
                            </div>
                        </div> 
                    {{- end -}} 
                </div>
            {{- end -}}
        </div> 
    </div>
    {{- with .Params.img -}}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
</section>