<section class="block-3">
    <div class="container"> 
        <div class="block-3_cont">
            {{- with .Params.list -}}
                {{- range . -}}
                <div class="block-3_row">
                    <div class="block-3_items">
                        {{- with .img -}}
                        <div>
                            <!-- <img class="block-3_items_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/> -->
                            <picture>
                                <source class="block-3_items_img lazy" media="(max-width:767px)" data-srcset="{{ .mobail | absURL }}"> 
                                <img class="block-3_items_img lazy" data-src="{{ .desktop | absURL }}" alt="Flowers" >
                            </picture> 
                        </div>
                        {{- end -}} 
                    </div>
                    <div class="block-3_items">
                        {{- with .content -}} 
                            <div class="block-3_items_content">
                                {{ . | markdownify }}
                            </div>
                        {{- end -}} 
                        {{- with .info_list -}} 
                            <ul class="block-3_items_list">
                                {{- range . -}}
                                    <li>
                                        {{- with .color -}} 
                                            <span class="circle" style="background-color: {{ . }};"></span>
                                        {{- end -}} 
                                        {{- with .title -}}<span>{{ . }}</span>{{- end -}} 
                                    </li>
                                {{- end -}} 
                            </ul>
                        {{- end -}}
                        {{- with .warning -}} 
                            <p class="block-3_items_warning"><img class="lazy" data-src="{{ "img/svg/warning.svg" | absURL }}" data-srcset="{{ "img/svg/warning.svg" | absURL }}" alt="bg"/>
                                {{ . }}
                            </p>
                        {{- end -}}
                    </div>
                </div>
                {{- end -}}
            {{- end -}} 
        </div> 
    </div>
    {{- with .Params.img -}} 
    <img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>
    {{- end -}}
</section>