
<section class="contact" id="contact">
    <div class="container"> 
        {{ with .Params.contact_title }}<h3>{{ . }}</h3>{{ end }}
        <div class="contact_cont">
          <form class="contact_cont_form validate" action="https://app.us7.list-manage.com/subscribe/post?u=3bbf5fc86b8b1c51e877b2bf3&amp;id=1e3e452fbb" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="POST" target="_blank">
            <div class="contact_cont_form_list">
              <label class="contact_cont_form_list_label" for="name">Ваше Ім'я</label>
              <input class="contact_cont_form_list_input" type="text" value="" name="FNAME" id="mce-FNAME" placeholder="Enter your name" required="">
            </div>
            <div class="contact_cont_form_list">
              <label class="contact_cont_form_list_label" for="email">Електронна адреса</label>
              <input class="contact_cont_form_list_input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="you@yoursite.com" required="">
            </div>
            <div style="position: absolute; left: -5000px;">
              <input type="checkbox" name="conservative_black_glossy_floppy_disk" value="1" tabindex="-1" autocomplete="no">
            </div>
            <div class="contact_cont_form_list">
              <label class="contact_cont_form_list_label" for="location">Номер телефону</label>
              <input class="contact_cont_form_list_input"type="text" value="" name="LNAME"  id="mce-LNAME" placeholder="+380..."  required="">
            </div> 
            <button class="aption_btn" type="submit">Звязатись</button>
          </form>
        </div>
    </div>
</section>

 