<section class="hero">
    <div class="container">
         <div class="hero_cont">
        
            <h1>Taxi<span class="black">invest</span></h1>
            <h3>Інвестиція в авто для роботи в Таксі дохідність від 40% річних</h3>
            <div class="hero_btn"> 
                <a class="general-button" href="#contact"> 
                    <div class="general-button_img" style="-webkit-mask-image: url('../img/svg/heart.svg');
                                mask-image: url('../img/svg/heart.svg');">
                    </div>
                    <span>Залишити заяву</span>
                </a>
                <a class="general-button" href="#about">
                    <span>Про наc</span>
                    <div class="general-button_img" style="-webkit-mask-image: url('../img/svg/arrow.svg');
                                mask-image: url('../img/svg/arrow.svg');">
                    </div>
                </a>
            </div>


             
        </div>
    </div>
    <!-- {{- with .Params.img -}}{{- end -}} -->
    
    <img class="general_img lazy" data-src="{{ "img/clients.png" | absURL }}" data-srcset="{{ "img/clients.png" | absURL }}" alt="bg"/>
</section>