<section class="hero">
    <div class="container">
         <div class="hero_cont"> 
            {{ if .Params.hero_title }}<h1>{{ .Params.hero_title }}<span class="black">{{ .Params.hero_title_black }}</span></h1>{{ end }}
            {{ if .Params.hero_text_1 }}<h3>
                {{ .Params.hero_text_1 }}
                <br />
                {{ .Params.hero_text_2 }}
            </h3>{{ end }}
            <div class="hero_btn"> 
                {{ with .Params.hero_btn_1 }}<a class="general-button" href="#contact">  
                    <span>{{ . }}</span>
                </a>{{ end }}
                {{ with .Params.hero_btn_2 }}<a class="general-button" href="#about">
                    <span>{{ . }}</span> 
                </a>{{ end }}
            </div> 
        </div>
    </div>  
    {{ with .Params.hero_img }}<img class="general_img lazy" data-src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{ end }}
</section>
