<sections class="hero" id="hero">
  <div class="container">
    <div class="row">
      <div class="hero_cont"> 
        {{- with .Params.title -}}<h1>{{ . }}</h1>{{- end -}}
        {{- with .Params.paragraph -}}<p class="general_paragraph">{{ . }}</p>{{- end -}}
        {{- with .Params.button_link -}}<a class="general-button" href="{{ . }}">
            <div class="general-button_img" 
              style="-webkit-mask-image: url('../img/svg/paly.svg');
                    mask-image: url('../img/svg/paly.svg');">
            </div>
          <span>Watch Video</span></a> 
        {{- end -}} 
          <img class="img-diver" src="{{ "img/Diver.webp" | absURL }}" data-srcset="{{ "img/Diver.webp" | absURL }}" alt="bg"/>
        </div> 
      </div>
    </div>
  </div>
  {{- with .Params.video -}}
    <div class="async-video" id="async-video" data-video="{{ . | absURL }}"></div>
    <!-- <video class="bg-video" loop muted autoplay playsinline >
      <source src="{{ . | absURL }}" type="video/mp4" poster="images/fish_poster.webp">
    </video> -->
  {{- end -}}
  {{- with .Params.img -}}<img class="general_img" src="{{ . | absURL }}" data-srcset="{{ . | absURL }}" alt="bg"/>{{- end -}}
  <img class="img-bottom" src="{{ "img/svg/white-circle.svg" | absURL }}" data-srcset="{{ "img/svg/white-circle.svg" | absURL }}" alt="bg"/>
</sections>
 <h2 class="only-for-optimization"></h2>